*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent{
    display: flex;
    height: 300px;
    width: 1200px;
    align-self: center;
    /* justify-self: center; */
    margin-left: 300px;
    align-items: center;
    /* gap: 10px; */
    /* justify-content: center; */
    justify-content: center;
    justify-content: space-between;
    /* flex-direction: column; */
    align-content: space-around;
    background-color: bisque;
    border-radius: 15px;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: stretch; */*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent{
    display: flex;
    height: 300px;
    width: 1200px;
    align-self: center;
    /* justify-self: center; */
    margin-left: 300px;
    align-items: center;
    /* gap: 10px; */
    /* justify-content: center; */
    justify-content: center;
    justify-content: space-between;
    /* flex-direction: column; */
    align-content: space-around;
    background-color: bisque;
    border-radius: 15px;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: stretch; */
    border: 1px solid;

    /* flex-wrap: wrap; */
}

.child{
    height: 100px;
    width: 100px;
    border: 2px solid;
    background-color: darkgray;
    order: 0;
    /* flex-grow: 2; */
}
#b1{
    order: 1;  
    /* flex-grow: 1; */
    /* align-self: baseline; */
    
}
#b2{
    order: 1;
    /* flex-grow: ; */
    /* flex-shrink: 1; */
    align-self: flex-end;
}

#b3{
    order: 1;
    align-self: baseline;
}
#b4{
    order: 1;
    align-self: flex-end;
}

#b5{
    order: 1;
    align-self: baseline;
}

#b6{
    order: 1;
    align-self: flex-end;
}

#b7{
    order: 1;
    align-self: baseline;
}
#b8{
    order: 1;
    align-self: flex-end;
}

#b9{
    order: 1;
    align-self: baseline;
}

#b10{
    order: 1;

}
    border: 1px solid;

    /* flex-wrap: wrap; */
}

.child{
    height: 100px;
    width: 100px;
    border: 2px solid;
    background-color: darkgray;
    order: 0;
    /* flex-grow: 2; */
}
#b1{
    order: 1;  
    /* flex-grow: 1; */
    /* align-self: baseline; */
    
}
#b2{
    order: 1;
    /* flex-grow: ; */
    /* flex-shrink: 1; */
    align-self: flex-end;
}

#b3{
    order: 1;
    align-self: baseline;
}
#b4{
    order: 1;
    align-self: flex-end;
}

#b5{
    order: 1;
    align-self: baseline;
}

#b6{
    order: 1;
    align-self: flex-end;
}

#b7{
    order: 1;
    align-self: baseline;
}
#b8{
    order: 1;
    align-self: flex-end;
}

#b9{
    order: 1;
    align-self: baseline;
}

#b10{
    order: 1;

}