*{
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board{
    width: 800px;
    height: 500px;
    border: 5px black;
    border-style: double;
    cursor: crosshair;
}

.control{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clear{
    background-color: salmon;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

#clear:hover{
    color:wheat;
    border-color: red;
}

